

<img src="https://ddragon.leagueoflegends.com/cdn/11.22.1/img/profileicon/<%= summoner.profileIconId %>.png" alt="image of profile icon number <%= summoner.profileIconId %> ">
<h2><%= summoner.name %></h2>

<h3>Summoner level: <%= summoner.summonerLevel %></h3>

<form method="POST" action="/profile/summoners">
    <input hidden type="text" name="name" value="<%= summoner.name %>">
    <input hidden type="text" name="id" value= "<%= summoner.id %>">
    <input hidden type="text" name="puuid" value= "<%= summoner.puuid %>">
    <button type="submit">Add to Favorites</button>
</form>