
<p class="centered title">List of Favorite Champs</p>


<div class="champ-container">

<% favoriteChampions.forEach((el)=>{ %>

    <ul>
        <li>
            <h4><%= el.name %></h4>
            <h4><%= el.role %> </h4>
            
            <img src="https://ddragon.leagueoflegends.com/cdn/11.23.1/img/champion/<%= el.name %>.png" alt="Image of champion <%= el.name %>">
        
            <form method="POST" action="/profile/update/champs/<%= el.name %>?_method=put">
                <input hidden type="text" name="name" value="<%= el.name %>">
                <input hidden type="text" name="championKey" value="<%= el.championKey %>">
                <div class="select">
                    <select name="role">
                      <option value="Top">Top</option>
                      <option value="Mid">Mid</option>
                      <option value="Jungle">Jungle</option>
                      <option value="ADC">ADC</option>
                      <option value="Support">Support</option>
                    </select>
                  </div>
                <input hidden type="text" name="userId" value="<%= el.userId %>">
                <button type="submit">Update Role</button>

            </form>
            
            <form method="POST" action="/profile/champs/<%= el.name %>?_method=DELETE">
                <input hidden type="text" name="name" value="<%= el.name %>">
                <input hidden type="text" name="championKey" value="<%= el.championKey %>">
                <input hidden type="text" name="role" value="<%= el.role %>">
                <input hidden type="text" name="userId" value="<%= el.userId %>">
                <button type="submit">Remove Champion</button>

            </form>
        </li>
    </ul>

<% }) %>

</div>