<nav class="background-grey boarder">
    <a class="nav-margin" href="/profile/items">Favorite Items</a>
    <a class="nav-margin" href="/profile/champs">Favorite Champs</a>
    <a class="nav-margin" href="/profile">Back to  Profile</a>
</nav>


<p class="title centered">List of Favorite Summoners</p>

<div class="centered-in-column">
    <% favoriteSummoners.forEach((el)=>{ %>

        <ul>
            <li class="nav-margin">
                <p class="subtitle"><%= el.name %> <br></p> 
                
                <form method="POST" action="/summoner-info">
                    <input hidden type="text" name="name" value="<%= el.name %>">
                    <input hidden type="text" name="code" value="<%= el.code %>">
                    <input hidden type="text" name="puuid" value="<%= el.puuid %>">
                    <input hidden type="text" name="profileIconId" value="<%= el.profileIconId %>">
                    <input hidden type="text" name="summonerLevel" value="<%= el.summonerLevel %>">
                    <input hidden type="text" name="userId" value="<%= el.userId %>">
                    <button type="submit">More Info on Summoner</button>

                </form>

                <form method="POST" action="/profile/update/<%= el.name %>?_method=put">
                    <input hidden type="text" name="name" value="<%= el.name %>">
                    <input hidden type="text" name="code" value="<%= el.code %>">
                    <input hidden type="text" name="puuid" value="<%= el.puuid %>">
                    <input hidden type="text" name="profileIconId" value="<%= el.profileIconId %>">
                    <input hidden type="text" name="summonerLevel" value="<%= el.summonerLevel %>">
                    <input hidden type="text" name="userId" value="<%= el.userId %>">
                    <button type="submit">Update Summoner</button>

                </form>



                <img src="https://ddragon.leagueoflegends.com/cdn/11.22.1/img/profileicon/<%= el.profileIconId %>.png" alt="image of profile icon number <%= el.profileIconId %> ">

                <form method="POST" action="/profile/summoners/delete/<%= el.name %>?_method=DELETE">
                    <input hidden type="text" name="name" value="<%= el.name %>">
                    <input hidden type="text" name="code" value="<%= el.code %>">
                    <input hidden type="text" name="puuid" value="<%= el.puuid %>">
                    <input hidden type="text" name="profileIconId" value="<%= el.profileIconId %>">
                    <input hidden type="text" name="summonerLevel" value="<%= el.summonerLevel %>">
                    <input hidden type="text" name="userId" value="<%= el.userId %>">
                    <button type="submit">Remove Summoner</button>

                </form>
            </li>
        </ul>

    <% }) %>

</div>