
<nav class="background-grey boarder">
    <a class="nav-margin" href="/items">List of Items</a>
    <a class="nav-margin" href="/summoner">Search for Summoner</a>
    <a class="nav-margin" href="/champs">List of Champs</a>
    <a class="nav-margin" href="/profile">Back to  Profile</a>
</nav>



    <p class="title centered"><%= itemsObj[id].name %></h2>

    <div class="main-item">
        <img src="https://ddragon.leagueoflegends.com/cdn/11.23.1/img/item/<%= id %>.png" alt="image of <%= itemsObj[id].name %>">

        <h3>
            <%= itemsObj[id].plaintext %>
        </h3>

        <p> Item cost : <%= itemsObj[id].gold.base %> gold</p>

        <form method="POST" action="/profile/items">
            <input hidden type="text" name="item" value="<%= itemsObj[id].name %>">
            <input hidden type="text" name="code" value= "<%= id %>">
            <button type="submit">Add to Favorites</button>
        </form>
    </div>


        <% if(itemsObj[id].from != undefined) { %>

            <p class="title centered"><%= itemsObj[id].name %> builds from below</p>

            <div class="item-container">
            <% itemsObj[id].from.forEach((el) =>{ %>
                <div class="items-show">
                    <a href="/items/<%= el %>"><h4> <%= itemsObj[el].name %> </h4> </a>
                    <img src="https://ddragon.leagueoflegends.com/cdn/11.23.1/img/item/<%= el %>.png" alt="image of <%= itemsObj[el].name %>">
                </div>
            <% }) %>
            </div>
        <% } %>



        <% if(itemsObj[id].into != undefined) { %>

            <p class="title centered"><%= itemsObj[id].name %> builds into below</p>

            <div class="item-container">

                <% itemsObj[id].into.forEach((el) =>{ %>
                    <div class="items-show">
                        <a href="/items/<%= el %>"><h4> <%= itemsObj[el].name %></a> </h4>
                        <img src="https://ddragon.leagueoflegends.com/cdn/11.23.1/img/item/<%= el %>.png" alt="image of <%= itemsObj[el].name %>">
                    </div>
                <% }) %>

            </div>
        <% } %>
