
<nav>
    <a href="/champs">Back to Champs Page</a>
</nav>

<h2><%= name %></h2>

<img src="https://ddragon.leagueoflegends.com/cdn/11.22.1/img/champion/<%= name %>.png" alt = "../img/champion/centered/<%= name %>_0.jpg">

<h3>
    <%= champsObj.data[name].title%>
</h3>

<h4>
    <% champsObj.data[name].tags.forEach((el)=>{ %>

       category : <%= el %> <br>

    <% }) %>
</h4>

<p> <%= champsObj.data[name].blurb %></p>