
<nav class="background-grey boarder">
    <a class="nav-margin" href="/items">List of Items</a>
    <a class="nav-margin" href="/champs">List of Champs</a>
    <a class="nav-margin" href="/summoner">Search for Summoner</a>
    <a class="nav-margin" href="/profile">Back to  Profile</a>
</nav>

<div class="centered displayInCol">
    <h2><%= name %></h2>

    <img src="https://ddragon.leagueoflegends.com/cdn/11.23.1/img/champion/<%= name %>.png" alt = "../img/champion/centered/<%= name %>_0.jpg">

    <form method="POST" action="/profile/champs">
        <input hidden type="text" name="champ" value="<%= name %>">
        <input hidden type="text" name="key" value= "<%= champ[name].key %>">
        <div class="select">
            <select name="role">
              <option value="Top">Top</option>
              <option value="Mid">Mid</option>
              <option value="Jungle">Jungle</option>
              <option value="ADC">ADC</option>
              <option value="Support">Support</option>
            </select>
          </div>
        <button type="submit">Add to Favorites</button>
    </form>

    <h3>
        <%= champ[name].title %>
    </h3>

    <h4>
        <% champ[name].tags.forEach((el)=>{ %>

        category : <%= el %> <br>

        <% }) %>
    </h4>

    <h4>Passive:<br> <%= champ[name].passive.name %> - <%= champ[name].passive.description.replace(/<.*>/, ' ') %> </h4>

    <p><br> Lore: <br><%= champ[name].lore %></p>


</div>