
<nav>
    <a href="/champs">Back to Champs Page</a>
</nav>

<h2><%= name %></h2>

<img src="https://ddragon.leagueoflegends.com/cdn/11.22.1/img/champion/<%= name %>.png" alt = "../img/champion/centered/<%= name %>_0.jpg">

<form method="POST" action="/profile/champs">
    <input hidden type="text" name="champ" value="<%= name %>">
    <input hidden type="text" name="key" value= "<%= champ[name].key %>">
    <button type="submit">Add to Favorites</button>
</form>

<h3>
    <%= champ[name].title %>
</h3>

<h4>
    <% champ[name].tags.forEach((el)=>{ %>

       category : <%= el %> <br>

    <% }) %>
</h4>

<h4>Passive:<br> <%= champ[name].passive.name %> - <%= champ[name].passive.description.replace(/<.*>/, ' ') %> </h4>

<p> <%= champ[name].lore %></p>