
<nav class="background-grey boarder">
    <a class="nav-margin" href="/profile/items">Favorite Items</a>
    <a class="nav-margin" href="/profile/summoners">Favorite Summoners</a>
    <a class="nav-margin" href="/profile">Back to  Profile</a>
</nav>


<p class="title centered">Pick a Champion to create a build with</p>

<p class="centered">Must have a champion favorited to create a build for them</p>

<div class="champ-container">
<% favoriteChamps.forEach((el) =>{ %>

    <ul>
        <li>
            <h5><%= el.name %></h5> <br>
            <img src="https://ddragon.leagueoflegends.com/cdn/11.23.1/img/champion/<%= el.name %>.png" alt="image of favoirte champion <%= el.name %>">
            <form method="GET" action="builder/<%= el.name %>">
                <input hidden type="text" name="name" value="<%= el.name %>">
                <button type="submit">Start a build</button>
            </form>

        </li>

    </ul>

<% }) %>

</div>