<h2>Set Builder here</h2>
<a href="/builder">Back to Champs</a>

<h3><%= champ.name %></h3>



<form action="/builder/<%= champ.name %>/level" method="POST">
    <label for="level">Level of Champ</label>
    <input type="number" name="level" min="1" max="18">

    <button type="submit">Change Stats based on level</button>
</form>


<ul>
    <header>Stats</header>
    <li>Health : <%= champ.stats.hp + (champ.stats.hpperlevel*1) %></li>
    <li>Mana : <%= champ.stats.mp + (champ.stats.mpperlevel*1) %></li>
    <li>Attack Damage : <%= champ.stats.attackdamage + (champ.stats.attackdamageperlevel*1) %></li>
    <li>Attack Speed : <%= Math.round((champ.stats.attackspeed + ((champ.stats.attackspeedperlevel/100)*1))*100)/100 %> per second</li>
</ul>



