
<nav class="background-grey boarder">
    <a class="nav-margin" href="/profile/items">Favorite Items</a>
    <a class="nav-margin" href="/profile/champs">Favorite Summoners</a>
    <a class="nav-margin" href="/profile">Back to Profile</a>
    <a class="nav-margin" href="/builder">Builder Home Page</a>
</nav>

<p class="title centered"><%= champ.name %> at level <%= level %></p>

<div class="centered-in-column">

    <ul>
        <p class="subtitle">Stats</p>
        <li>Health : <%= champ.stats.hp + (champ.stats.hpperlevel*level)%></li>
        <li>Mana : <%= champ.stats.mp + (champ.stats.mpperlevel*level) %></li>
        <li>Attack Damage : <%= champ.stats.attackdamage + (champ.stats.attackdamageperlevel*level) %></li>
        <li>Attack Speed : <%= Math.round((champ.stats.attackspeed + ((champ.stats.attackspeedperlevel/100)*level))*100)/100 %> per second</li>
    </ul>

</div>
